/*estilos globales*/
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/*Fondo de color .index*/
body{
    font-family:sans-serif;
    background-color:rgb(101, 77, 255);
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>estilos barra de navegación*/
.container-fluid{
    background-color: #07398a;
    height: 60px;
    width: 100%;
}

nav ul li a:hover{
    
    border-radius: 3px;
    text-transform: uppercase;
    background-color:rgb(255, 255, 255);
    transition: 1s;
}

.nav-link{
    font-size: 20px;
    color: rgb(255, 255, 255);
}

/*Botones de menu desplegable*/
.nav-item {
    margin-left:40px;
    font-size: 18px;
    
    
}

/*Botones redes sociales*/
i {
    color: rgb(255, 255, 255);
    font-size: 30px;
}

/*Propiedades de video*/
div iframe{
    padding: 20px;


}



/*arreglar lo de abajo*/



.footer{
    text-align: center;
    padding:20px;
    background-color:cyan

}

.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu li {
    flex-grow: 1;
    text-align: center;
    border-radius: 5px;
    border-right: 1px solid #fff;
}

.menu li a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;

}

#titulo {
    background-color: #F3EFE0;
    color:blue;
    border-radius: 5px;
    border-width: 5px;
    text-align: center;
}

.titulo1 {
    text-align: center; 
}

.siguenos {
    text-align: center;
}


.caja {
    border: 1px solid #222222;
    background-color: #F3EFE0;
    color:black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 450px;
    line-height: 20px;
    text-align: center;
    margin: 5px;
}

.flexbox {
    border: black;
    background-color:#ccc;
    padding: 20px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

.img1 {
    width: 100%;
}

.img2 {
    width: 100%;
}

.img3 {
    width: 100%;
}

.flexbox2 {
    border: black;
    background-color:#ccc;
    padding: 20px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
}

.galeria1 {
    width: 600px;
}

/*Pagina de cotacto*/

.container_form{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 90px;
}

.formulario{
    padding: 25px;
    padding-left: 0;
}

.container_form h2{
    font-size: 25px;
    margin-bottom: 20px;
}

.campo, textarea {
    padding: 15px 10 px;
    font-size: 15px;
    display: inline-block;
    text-decoration: double;
    width: 100%;
    margin-bottom: 15px;
    border: 3px;
    outline: 0px;
    color: #222222;
}

.enviar{
    padding: 15px;
    font-size: 16px;
    background-color:#434242;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}

.mapa{
    text-align: center;
}
















