.textoubicacion{
    margin: 20px;
    font-size: 35px;
    text-align: center;
    color: $white-color;
}

h3{
    font-size: 20px;
}

.ubication{
    text-align: center;
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}

.ubication iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

