/*Fondo de color .index*/
body {  
    background-color:$blue-color
}

//Tarjetas de presentación
.card-container{
    padding-left: 50px;
    background-color: $white-color;

    .card-text{
        color: $blue-color;
        font-size: 20px;
    }
}

/*Propiedades de video*/
div iframe {
    padding: 20px;
}



